################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerEarthPractice/.vs
/PalindromicString/bin
/PalindromicString/obj
/PracticeQuestion2/bin
/PracticeQuestion2/obj
/HackerEarthPractice/FindProduct/bin
/HackerEarthPractice/FindProduct/obj
