################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/HackerEarthPractice/.vs
/PalindromicString/bin
/PalindromicString/obj
/PracticeQuestion2/bin
/PracticeQuestion2/obj
/FinalProduct/bin
/FinalProduct/obj
/HackerEarthPractice/FindProduct/
/HackerEarthPractice/Best Index/bin
/HackerEarthPractice/Best Index/obj
/HackerEarthPractice/SevenSegmentDisplay/bin
/HackerEarthPractice/SevenSegmentDisplay/obj
/DataStructures/Arrays/BinaryQueries/bin
/DataStructures/Arrays/BinaryQueries/obj
/DataStructures/Arrays/MonkAndWelcomeProblem/bin
/DataStructures/Arrays/MonkAndWelcomeProblem/obj
/DataStructures/Arrays/MicroAndArrayUpdate/bin
/DataStructures/Arrays/MicroAndArrayUpdate/obj